.header {
  display: flex;
  align-items: center;
  background: linear-gradient(93deg, #1d202d 65%, #232646 100%);
  height: 56px;
  box-shadow: 0 4px 20px #22243a33;
  padding: 0 1.2em;
  z-index: 12;
  border-bottom: 1.5px solid #232646;
  position: sticky;
  top: 0;
}

.menuBtn {
  background: none;
  border: none;
  padding: 0.2em 0.6em 0.2em 0.2em;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 1em;
  transition: background 0.13s;
}

.menuBtn:focus,
.menuBtn:hover {
  background: #232646;
  outline: none;
}

.menuIcon {
  display: block;
  width: 28px;
  height: 3px;
  background: #95e0ff;
  box-shadow: 0 10px 0 #95e0ff, 0 20px 0 #95e0ff;
  border-radius: 2px;
  margin: 0.5em 0;
  position: relative;
}

.title {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #92cefc;
  text-shadow: 0 1px 2px #15161eaa;
  flex: 1 1;
}

.headerSpacer {
  min-width: 30px;
}
